body, html {
    font-family: "Raleway Medium", sans-serif;
    color: #983b45;
}

/* ПАНЕЛЬ НАВИГАЦИИ */

#navigation {
    box-sizing: border-box;
    padding: 0;
}

.navbar-brand img {
    margin-right: 10px;
}

.descriptor {
    width: 250px;
    font-size: 16px;
    color: #983b45 !important;
    line-height: 20px;
}

.descriptor:hover {
    text-decoration: none;
    color: #63131C !important;
}

#navbarNav {
    height: 50px;
}

.navbar-nav {
    height: 100%;
}

.nav-item {
    width: 173px;
    text-align: center;
}

.nav-item a {
    height: 100%;
    font-size: 16px;
    color: #983b45 !important;
    line-height: 20px;
    padding: 15px 0;
}

.nav-item a:hover {
    color: #ffffff !important;
    background-color: #983b45;
}

.nav-item a:active {
    color: #ffffff !important;
    background-color: #cc6e79;

}

/* КАРУСЕЛЬ ФОНОВЫХ ИЗОБРАЖЕНИЙ */

.carousel {
    position: relative;
}

.header-text {
    font-family: "Raleway Medium", sans-serif;
    color: #3b3b3b;
    position: absolute;
    z-index: 2;
}

#lg {
    width: 593px;
    font-size: 36px;
    line-height: 48px;
    padding-top: 50px;
}

#md {
    width: 400px;
    font-size: 24px;
    line-height: 36px;
    padding-top: 50px;
}

#sm {
    width: 350px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 50px;
}

#xs {
    width: 250px;
    font-size: 12px;
    line-height: 16px;
    padding-top: 25px;
}

/* ПРЕВЬЮ КАРТОЧКИ */

.card {
    max-width: 15rem;
    min-width: 15rem;
    padding: 5px;
}
